@import "../vendors/@progress/kendo-ui/2020.3.1118/css/kendo.common.min.css";
@import "../vendors/@progress/kendo-ui/2020.3.1118/css/kendo.bootstrap-v4.min.css";

.form-control.k-widget
{
    padding: 0;
    width: 100%;
    height: auto;
}
.form-control.k-input
{
    border-width: 0px;
}

.k-widget.k-invalid{
    border: 1px solid #e55353;
}

.k-widget.k-valid{
    border: 1px solid #2eb85c;
}

.k-invalid-feedback {
    display: block;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #e55353;
}
