@import "../vendors/@progress/kendo-ui/2020.3.1118/css/kendo.common.min.css";
@import "../vendors/@progress/kendo-ui/2020.3.1118/css/kendo.bootstrap-v4.min.css";

.form-control.k-widget
{
    padding: 0;
    width: 100%;
    height: auto;
}
.form-control.k-input
{
    border-width: 0px;
}

.k-widget.k-invalid{
    border: 1px solid #e55353;
}

.k-widget.k-valid{
    border: 1px solid #2eb85c;
}

.k-invalid-feedback {
    display: block;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #e55353;
}
#calendar,
#calendar .k-calendar-view,
#calendar .k-content {
    width: 100%;
}




.k-window-titlebar {
    border-color: inherit;
    color: #656565;
    background-color: #f6f6f6;
}


.k-window-titlebar {
    background-clip: padding-box;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 12px 16px;
    border-width: 0 0 1px;
    border-style: solid;
    white-space: nowrap;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -ms-flex-align: center;
    align-items: center;
}

